### target
/target/

### IntelliJ IDEA ###
/.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

*classes
*.class

**/logs/**
*.log

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/target/**